.september8-container { 
    margin: 0;
    padding: 7%;
    background-color: #9DC9C8; 
} 
 
.september8-container h2 { 
    font-size: 55px; 
    font-weight: 700; 
    margin: 0;
    font-family: 'Roboto Slab',sans-serif;
} 
 
.stoimost-rub { 
    margin-top: 3%; 
    font-family: Roboto;
} 
 
/* .stoimost { 
    font-family: Roboto;
} 
  */
.rub { 
    font-size: 80px; 
    line-height: 81.11px;
    margin: 0; 
    padding: 0; 
} 
 
 
.dlya-seycas-container { 
    width: 53%; 
    margin-top: 7%; 
    display: flex; 
    justify-content: space-between; 
    font-family: Roboto;
} 
 
.dlya-text, 
.seycas-text { 
    font-size: 25px; 
    line-height: 25.35px;
} 
 
.dlya-container { 
    width: 45%; 
    font-size: 18px; 
} 
 
.dlya-content, 
.seycas-content { 
    font-size: 18px; 
    line-height: 18.25px;
} 
 
.seycas-container { 
    width: 45%; 
    font-family: Roboto;
} 
 
@media (min-width:1280px) {
    .stoimost { 
        font-size: 25px;
        line-height: 25.35px;
    } 
} 


@media (min-width:992px) and (max-width:1279px) { 
 
    .september8-container { 
        height: 55%; 
        /* padding: 5%  10% 0 10%; */
    } 
 
    .september8-container h2 { 
        font-size: 32px; 
        line-height: 32.44px;
    } 
 
    .stoimost { 
        font-size: 14px; 
        line-height: 14.19px;
    } 
 
    .rub { 
        font-size: 46px; 
        line-height: 46.64px;
    } 
 
    .dlya-text, 
    .seycas-text { 
        font-size: 14px; 
        line-height: 14.19px;
    } 
 
    .dlya-content, 
    .seycas-content { 
        font-size: 10px; 
        line-height: 10.14px;
    } 
 
 
} 
 
@media (max-width:991px) { 
 
    .september8-container { 
        padding: 10%;
    } 
 
    .september8-container h2 { 
        font-size: 26px; 
        line-height: 26.36px;
    } 
 
    .stoimost { 
        font-size: 12px; 
        line-height: 12.17px;
    } 
 
    .rub { 
        font-size: 37px; 
        line-height: 37.51px;
    } 
 
    .dlya-text, 
    .seycas-text { 
        font-size: 12px; 
        line-height: 12.17px;
    } 
 
    .dlya-content, 
    .seycas-content { 
        font-size: 10px;
        line-height: 10.14px; 
    } 
 
    .dlya-seycas-container { 
        width: 80%; 
        margin-top: 7%; 
        display: flex; 
        justify-content: space-between; 
    } 
 
    .dlya-container { 
        width: 40%; 
    } 
 
    .seycas-container { 
        width: 40%; 
    } 
 
}